@page
@using WEB_1001_To_Do_Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form class="form-inline" method="post">
    <label asp-for="todo.Description" class="h6"></label>
    <input asp-for="todo.Description" class="ml-2" />
    <input type="submit" value="Add To-Do" class="btn btn-primary ml-3" />
</form>
<h2 class="mt-3">TO-DO LIST</h2>
<div class="card">
    <ul class="list-group list-group-flush">
        @foreach(ToDo item in Model.ToDoList)
        {
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <form method="post" asp-page-handler="complete" asp-route-Id="@item.Id">
                            <input type="checkbox" onchange="this.form.submit()">
                        </form>
                        <h5 class="ml-3">@item.Description</h5>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
