@page
@using WEB_1001_To_Do_Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="post">
        <label asp-for="todo.Description"></label>
        <input asp-for="todo.Description" />
        <input type="submit" value="Add To-Do" />
    </form>
    <h2>TO-DO LIST</h2>
    <ul>
        @foreach(ToDo item in Model.ToDoList)
        {
            <li>
                @item.Description
            </li>
        }
    </ul>
</div>
