@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="post">
        <label asp-for="todo.Description"></label>
        <input asp-for="todo.Description" />
        <input type="submit" value="Add To-Do" />
    </form>
</div>
